Repository swiss-ai-center/core-engine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-engine, deploy-engine, build-face_analyzer

build-engine:
  image: docker:19.03.12
  stage: build
  services:
  - docker:19.03.12-dind
  before_script:
  - docker info
  - docker login -u gitlab-ci-token -p ${CI_BUILD_TOKEN} ${CI_REGISTRY}
  script:
  ...

deploy-engine:
  image: lachlanevenson/k8s-kubectl:latest
  stage: deploy
  tags:
  - k8s
  script:
  - echo $KUBE_CONFIG | base64 -d > kubeconfig.txt
  - export KUBECONFIG=$(pwd)/kubeconfig.txt
  - kubectl config get-contexts
  ...

build-face_analyzer:
  image: docker:19.03.12
  stage: build
  services:
  - docker:19.03.12-dind
  before_script:
  - docker info
  - docker login -u gitlab-ci-token -p ${CI_BUILD_TOKEN} ${CI_REGISTRY}
  script:
  ...

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update gitlab-ci
  .gitlab-ci.yml
Due: none

Deploy face detection service
  .gitlab-ci.yml
  face_detection/.gitignore
  face_detection/README.md
  face_detection/api/api.py
  face_detection/api/interface.py
  face_detection/api/worker.py
  face_detection/dockerfile
  face_detection/kubernetes/deployment.yml
  face_detection/kubernetes/service.yml
  face_detection/main.py
  face_detection/requirements.txt
Due: none

update gitlab-ci
  .gitlab-ci.yml
Due: none

Deploy area_blur service
  .gitlab-ci.yml
  area_blur/.gitignore
  area_blur/README.md
  area_blur/api/api.py
  area_blur/api/interface.py
  area_blur/api/worker.py
  area_blur/dockerfile
  area_blur/kubernetes/deployment.yml
  area_blur/kubernetes/service.yml
  area_blur/main.py
  area_blur/requirements.txt
Due: none

Update dockerfile
  area_blur/dockerfile
Due: none

modify image name
  area_blur/kubernetes/deployment.yml
  face_analyzer/kubernetes/deployment.yml
  face_detection/kubernetes/deployment.yml
Due: deploy-engine, build-face_analyzer

Test trigger change
  .gitlab-ci.yml
  engine/test.txt
Due: build-engine

test trigger change
  engine/api/test copy.txt
Due: build-engine

Test trigger
  .gitlab-ci.yml
Due: none

trigger
  engine/api/test copy.txt
Due: build-engine

trigger 2
  engine/test.txt
Due: build-engine

end trigger engine
  engine/test.txt
Due: build-engine

trigger area
  area_blur/test.txt
Due: none

trigger area
  .gitlab-ci.yml
  area_blur/test.txt
Due: none

end trigger area
  area_blur/test.txt
Due: none

test trigger analyzer
  face_analyzer/api/test.txt
Due: deploy-engine, build-face_analyzer

test trigger
  face_analyzer/api/test.txt
Due: deploy-engine, build-face_analyzer

Fix env variable deployment
  area_blur/kubernetes/deployment.yml
  face_analyzer/kubernetes/deployment.yml
  face_analyzer/kubernetes/service.yml
  face_detection/kubernetes/deployment.yml
Due: deploy-engine, build-face_analyzer

Add missing environment variable to engine
  engine/kubernetes/deployment.yml
Due: build-engine

Test include gitlab
  .gitlab-ci.yml
  engine/engine.gitlab-ci.yml
Due: build-engine

Remove useless POST to engine Rename request parameter
  area_blur/api/api.py
  area_blur/main.py
Due: none

tmp commit
  area_blur/api/api.py
  area_blur/api/interface.py
  area_blur/api/worker.py
Due: none

clean dependencies
  area_blur/api/api.py
Due: none

Announce face-detection service to the engine
  face_detection/api/api.py
  face_detection/main.py
Due: none

Implement new multipart api to the services Handle multiple binaries in/out of services Implement the new results route
  engine/api/Engine/Engine.py
  engine/api/Engine/Pipeline.py
  engine/api/api.py
  engine/api/interface.py
Due: build-engine

Implement dynamic pipeline creation
  engine/api/Engine/Engine.py
  engine/api/Engine/Enums.py
  engine/api/Engine/Pipeline.py
  engine/api/api.py
  engine/api/interface.py
Due: build-engine

Create face blurring pipeline example
  engine/api/example.yaml
  engine/faceblur.json
Due: build-engine

Implement cleaning
  engine/api/Engine/Cron.py
  engine/api/Engine/Engine.py
  engine/api/Engine/Pipeline.py
  engine/api/Engine/Registry.py
  engine/api/api.py
Due: build-engine

Add external route env variable so that the engine can send appropriate urls for the results
  engine/api/Engine/Engine.py
  engine/api/api.py
  engine/kubernetes/deployment.yml
Due: build-engine

Add minimal python gitignore
  .gitignore
Due: none

Path conditions:
  build-engine: any of: engine/**/*
  deploy-engine: any of: face_analyzer/**/*
  build-face_analyzer: any of: face_analyzer/**/*
